body {
  font-family: 'Roboto', sans-serif;
  background: url("./images/theme.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  grid-area: header;
}

.mailbox {
  grid-area: mailbox;
}

.calendar {
  grid-area: calendar;
}

.contacts {
  grid-area: contacts;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: 200px auto;
  grid-template-areas: "....... header ......." "mailbox calendar contacts";
  justify-items: center;
  align-items: center;
}

.box {
  text-align: center;
  padding: 20px;
  font-size: 32px;

}

.nav-link {
  text-decoration: none;
}

.nav-link > span {
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
  top: 4px;
  position: relative;
}

.box > img {
  width: 96px;
  height: 96px;
}

.button-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}