/* body {
  background: url("./images/theme.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px;
} */

.header {
  grid-area: header;
}

.mailbox {
  grid-area: mailbox;
}

.calendar {
  grid-area: calendar;
}

.contacts {
  grid-area: contacts;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: 150px auto;
  grid-template-areas: "....... header ......." "mailbox calendar contacts";
  color: #444;
}
.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}